*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 10px;
    position: relative;
}

.container > label {
    background-color: gray;
    padding: 10px 20px;
    border-radius: 0 11px 6px 5px;
    cursor: pointer;
}

input[type="radio"]{
    display: none;
}

.container > div{
    position: absolute;
    top: 60px;
    left: 8px;
    opacity: 0;
    background-color: gold;
    padding: 20px;
    border-radius: 15px;
}

input#pro:checked ~ div.products{
    opacity: 1;
}
input#pro:checked ~ div.members{
    opacity: 0;
}
input#pro:checked ~ div.about{
    opacity: 0;
}

input#team:checked ~ div.products{
    opacity: 0;
}
input#team:checked ~ div.members{
    opacity: 1;
}
input#team:checked ~ div.about{
    opacity: 0;
}
input#about:checked ~ div.products{
    opacity: 0;
}
input#about:checked ~ div.members{
    opacity: 0;
}
input#about:checked ~ div.about{
    opacity: 1;
}
ul{
    list-style: none;
    width: 100%;
}

ul li{
    width: 100%;
    margin-top: 10px;
    border-bottom: 2px solid red;
}
div.members{
    left: 100px;
}
div.about{
    left: 250px;
}