@font-face {
    font-family: vazir;
    src: url(../Vazirmatn-Light.woff2);
}
body{
    width: 100%;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header .right, header .left{
    display: flex;
    gap: 20px;
    height: 100%;
}

header .right{
    justify-content: flex-start;
    width: 70%;

}
body{
    font-family: vazir;
}
header .right nav a{
    
    margin-left: 15px;
}
header .right img{
    max-width: 108px;
    height: auto;
}

input#c, label[for="c"]{
    display: none;
}



@media screen and (max-width:600px){
    label[for="c"]{
        display: block;
    }
    .right nav{
        display: none;
    }
    header .right{
    width: 60%;
    justify-content: space-between;
    }
}